@font-face {
   font-family: 'MonsieurLaDoulaise-Regular';
   font-display: swap;
   src: url('file:///C:/Users/ISRAEL/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-08-06_155805/fonts/MonsieurLaDoulaise-Regular/font.ttf');
}
